---
import NowPlaying from "./NowPlaying.jsx";
import useSWR from "swr";
import fetcher from "../lib/fetcher.js";
import GetContributionGraph from "./ContributionGraph.jsx";
import en_US from "../locales/en-US.json";

const i18n = en_US
const {data} = useSWR("/api/now", fetcher);
---
<div class={""}>
    <p class={"my-4 text-3xl font-bold"}>{i18n.index.activity.title}</p>
    <div class={"flex justify-center"}>

    </div>
</div>