---
const musicStyle = `w-1.5 h-full bg-[#1ED760] rounded-xl origin-bottom`
---

<div class="relative flex justify-between w-6 h-6">
    <span class={`${musicStyle} animate-[health_1.6s_ease_infinite_alternate]`}></span>
    <span class={`${musicStyle} animate-[health_2.4s_ease_infinite_alternate]`}></span>
    <span class={`${musicStyle} animate-[health_3.0s_ease_infinite_alternate]`}></span>
</div>