@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'LXGW WenKai';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../public/fonts/LXGWWenKai-Regular.woff2') format('woff2'), url('../public/fonts/LXGWWenKai-Regular.woff') format('woff');
}

.weiKaiFont {
    font-family: 'LXGW WenKai', serif;
}

:root {
    --c-bg: #ffffff;
    --c-scroll: #d9d9d9;
    --c-scroll-hover: #bbbbbb;
    scrollbar-color: var(--c-bg);
}

html {
    background-color: var(--c-bg);
}

@media (prefers-color-scheme: dark) {
    :root {
        --c-bg: #212121;
        --c-scroll: #333333;
        --c-scroll-hover: #555555;
        color-scheme: dark;
    }
}

img{
    transition: 0.5s;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
::selection {
    background: azure;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--c-scroll);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--c-scroll-hover);
}
::-webkit-scrollbar-track {
    background-color: var(--c-bg);
}

@keyframes health {
    10% {
        transform: scaleY(0.3); /* start by scaling to 30% */
    }

    30% {
        transform: scaleY(1); /* scale up to 100% */
    }

    60% {
        transform: scaleY(0.5); /* scale down to 50% */
    }

    80% {
        transform: scaleY(0.75); /* scale up to 75% */
    }

    100% {
        transform: scaleY(0.6); /* scale down to 60% */
    }
}